<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Plastic's Blog</title>
  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <header>
      <h1>
        <a href="/">On Wednesdays We Wear Pink!</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard"><span class="glyphicon glyphicon-user"></span>{{ username }}'s Dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>

</body>

</html>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}